<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD_8uPebiTIcdo18gMdOZ0btqXeJpWDPG8</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.831997367487-srlbsg7o4be2m99mk56lt4i3l5assr11</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>831997367487-srlbsg7o4be2m99mk56lt4i3l5assr11.apps.googleusercontent.com</string>
	<key>UIAppFonts</key>
	<array>
		<string>LilitaOne-Regular.ttf</string>
	</array>
</dict>
</plist>
